body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    text-align: center;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

#note {
    text-align: left;
    font-style: italic;
    font-size: 10px;
}

.over {
    list-style-type: none;
}

element {
    font-size: 10px
}

.nested {
    text-align: left;
    font-size: 13px;
}

.top{
    font-style: bold;
    font-size: 20px;
}

.icon {
    max-width: 10%;
}

.column {
    width: 50%;
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.over {
    padding: 1%;
}
  